.objective-label{
    display: flex;
    flex-direction: column;
    padding: 10px;

    .number{
        color: #6A93AC;
        font-size: 18px;
    }

    .state{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
    }
}