.main-content{

    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .button-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 19px;

       button:nth-child(even){
        background-color: #304399 !important;
       }
       button:nth-child(odd){
        background-color: #369C96 !important;
       }
    }

    
}

