.item-nav{
    svg{
        width: 20px;
        color: #FFFFFF;
    }

    span{
        font-size: 18px;
        color: #FFFFFF;
    }

    .icon-nav{
        min-width: 0;
        margin-right: 12px;
    }
}