.item-nav{
    display: flex;
    flex-direction: row ;
    width: inherit;
    text-decoration: none;
    align-items: center;
    svg{
        width: 20px;
        color: #FFFFFF;
    }

    span{
        font-size: 18px;
        color: #FFFFFF;
    }

    .icon-nav{
        min-width: 0;
        margin-right: 12px;
    }
    
    .active {
        background-color: #082537;
        border-radius: 8px 8px 0 0;
      }
}


  

//   .item-nav.active,
// .sub-item.active .link {
//   color: #00ff00; 
// }

.sub-item{

    .link{
        width: 100%;
    }

   .MuiTypography-root{
    color: #6A93AC;
   }

}

