.heading-container {
  
    max-width: 500px;

    .title {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: left;
      align-items: center;
      svg {
        font-size: 36px;
      }
    }
  
    .subtitle {
      display: flex; 
      justify-content: left; 
      align-items: center;
      text-align: left;
      max-width: 90%;
    }
  }
  