.card-comments-container{
    border-radius: 16px !important;

  
.sub-container{
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;  
    &:first-child{
        border-radius: 16px 16px 0 0 !important;
    }
    &:nth-of-type(2){
        border-radius: 0 0 16px 16px !important;
    }

    .header{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .total-comments{
        padding: 5px 10px;
        background: var(--color-grey-5, #F4F8F6);
        border-radius: 4px;
    }

    .content-one{
        margin-top: 24px;

        .textfield{
            width: -webkit-fill-available;

            .MuiInputBase-root{
                padding: 12px 20px !important;
                border-radius: 8px !important;

               

                &::before{
                    border-bottom: none;
                }
            }

            .icon-input-comment{
                transform: rotate(90deg);
                color:#369C96;
                margin-top: -4% !important;
                cursor: pointer;
                svg{
                    width: 26px;
                }
            }
        }
    }

    .comments-history{
        display: flex;
        flex-direction: column;
        gap:10px ;

        .profile{
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            .identity{
                font-size: 18px;
                font-weight: bold;
                
            }

            .datetime{
                color: #8FA2A2;
            }
        }

        .comment{
            padding-left: 48px;
        }

    }
    .footer{
        padding-left: 48px;
    }

}

}

