$color-primary: #304399;
$color-white: #ffffff;
$color-green: #369C96;
$color-black: #000;
$color-gray-light: #8FA2A2;
$color-gray-dark: #082537;
$color-blue-light: #6A93AC;
$color-gray-medium: #6A6A6A;
$color-blue-dark: #0C354F;
$color-blue-darker: #0B3047;
$color-background: #F4F8F6;
$color-blue-custom: #304399;
$color-red: #A94442;
$color-transparent: transparent;
