body {
  margin: 0;
  font-family: 'Chivo', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F8F6 !important;
}



a{text-decoration: none;}

.container-test{
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-content{
  padding: 40px;
}

.first-title-dashboard{
  margin-bottom: 40px;
}

.section-dashboard{
  margin-top: 36px;
}