.card-documents-added-container{
    padding: 40px;
    border-radius: 16px !important;

    .documents-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px 100px;

        .column{
            display: flex;
            flex-direction: column;
            gap: 8px;

            
        }

      
            margin-bottom: 24px;
        
    }

    .hr-row{
        margin-block-end : 0;
        margin-block-start: 0;
        border-bottom-width:0  ;
        margin-bottom: 24px;
        background-color: #F4F8F6;
    }

    .file-name{
        padding: 2px 8px;
        background-color: #F4F8F6;
        border-radius: 4px;
        color: #369C96;
    }
}