.Sidebar {
    .MuiPaper-root {
      padding: 36px 24px;
      position: unset;
      background-color: #0c354f;
    }
  
    .MuiAvatar-root {
      max-width: 174px;
      width: unset;
      margin-left: inherit;
      margin-bottom: 30px;
    }
  
    .MuiCollapse-root {
      background-color: #0b3047;
      border-radius: 8px;
    }
  }
  
  .header-nav {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 40px;
    .header-items {
      display: flex;
      justify-content: space-between;
      align-self: end;
  
      .items-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
  
        span {
          color: #369c96;
          font-weight: bold;
        }
      }
    }
  }
  