.form-answer-container {
  .row {
    margin-bottom: 16px;
  }

  .first-row,
  .eighth-row {
    gap: 8px 60px; 
    justify-content: space-between;

    .column-row {
      gap: 10px;
    }
  }

  .second-row,
  .fourth-row,
  .sixth-row,
  .seventh-row {
    gap: 16px;
  }



  .fifth-row {
    gap: 60px;
  }


}
