.title-card {
    margin-bottom: 12px;
  
    p {
      font-size: 18px;
      color: #8fa2a2;
    }
  
    .icon {
      font-size: 36px;
    }
  }
  
  .title-card-without-icon {
    margin-bottom: 24px;
  }
  