.title-card{
    margin-bottom: 12px;
    
    p{
        font-size: 18px;
        color: #8FA2A2;
    }

    .icon{
        font-size: 36px;
    }
}

.title-card-without-icon{
    margin-bottom: 24px;
    h2{
        font-size: 27px !important;
        font-weight: bold !important;
    }
}